.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler-icon {
  background-image: url(../../Photos/menu.png) !important;
}
/* .navbar {
  background-color: #a6ebbbe0;
} */

.nav-link {
  font-size: 20px;
  padding: 10px 15px !important;
  border-radius: 10px;

  transition-duration: 0.1s;
}
.nav-link:hover {
  color: black !important;
  font-weight: 700;

  border: 1px solid greenyellow;
  border-radius: 10px;
  padding: 8px 12px !important;
  background-color: greenyellow;
}
 @media (max-width: 767px) {

    .logo{
        display: none;
    }
    .nav-link{margin: 0!important;}
    .navbar {
        background-color: #908988cc;
      }
     
 }
 .navbar-light .navbar-toggler {
   
    border-color: rgba(0,0,0,0)!important;
}
